# ================ #
# Things to ignore #
# ================ #

# ------------------- #
# --- Class files --- #
# ------------------- #
*.class

# ------------------------------------ #
# --- Mobile Tools for Java (J2ME) --- #
# ------------------------------------ #
.mtj.tmp/

# --------------------- #
# --- Package Files --- #
# --------------------- #

*.war
*.ear

# --------------- #
# --- Folders --- #
# --------------- #
build/
build/tmp/
.gradle/

# ---------------------- #
# --- JVM crash logs --- #
# ---------------------- #
hs_err_pid*
